@charset "utf-8";
body{
	background-color:rgb(245,245,245);
}
#bloc_page{
	background-color:rgb(245,245,245);
	width:1000px;
	margin:auto;
}
header{
	width:1000px;
	background-color:rgb(245,245,245);
}
.loko{
	color:rgb(139,131,134);
}
.menu{
	position:absolute;
	margin-top:15px;
	margin-left:828px;
}
.nom{
	margin-left:60px;
	margin-top:25px;
}
nav{
	margin-top:-55px;
	display:inline-block;
	margin-left:508px;
	color:black;
	background-color:rgb(245,245,245);
}
header img{
	
	margin-left:565px;
	margin-top:20px;
}
nav ul
{
    list-style-type: none;
}
nav li
{
    display: inline-block;
    margin-right: 15px;
	color:black;
	list-style-type:none;
}
nav a{
	color:black;	
	text-decoration:none;
}
#banniere {
	width:1000px;
}
section{
	background-color:rgb(245,245,245);
	height:500px;
}
.help{
	margin-top:-140px;
	margin-left:550px;
	font-size:15px;
	color:#4F94CD;
	position:absolute;
	font-style:calibri;
}
.real{
	margin-top:-250px;
	margin-left:550px;
	font-size:45px;
	color:white;
	position:absolute;
}
.your{
	width:230px;
	margin-top:-205px;
	margin-left:550px;
	font-size:20px;
	color:rgb(139,131,134);
	position:absolute;
}
 .tof{ 
	width:1000px;
	margin-left:0px;
	height:322px;
} 
 .sar{ 
	width:1000px;
	margin-top:20px;
	margin-left:-1000px;
	position:absolute;
 } 
 article h3{
	 font-size:25px;
 }
 .liste{
	 width:250px;
	 height:350px;
	 background-color:rgb(245,245,245);
	 margin-left:30px;
 }
 .liste a{
	 color:#4F94CD;
	 margin-top:-20px;
 }
 .liste li{
	 margin-left:-22px;
	 line-height:30px;
 }
 .liste ul{
	 margin-top:-20px;
 }
 .EnSar{
	 background-color:rgb(245,245,245);
	 width:650px;
	 margin-left:325px;
	 margin-top:-375px;
	 height:500px;
 }
 
 .sar1{
	 background-color:rgb(245,245,245);
	 width:190px;
	 height:200px;
	 margin-top:-15px;
 }
 .sar1 p{
	 line-height:10px;
 }
 .ambo{
	 font-size:15px;
	 color:black;
 }
 .amp{
	 font-size:15px;
	 color:rgb(139,131,134);
 }
 .amba{
	 font-size:15px;
	 color:#4F94CD;
 }
 .sar2{
	 background-color:rgb(245,245,245);
	 width:190px;
	 height:200px;
	 margin-left:225px;
	 margin-top:-200px;
 }
 .sar2 p{
	 line-height:10px;
 }
 .sar3{
	  background-color:rgb(245,245,245);
	 width:190px;
	 height:200px;
	 margin-left:450px;
	 margin-top:-200px;
 }
 .sar3 p{
	 line-height:10px;
 }
 .sar4{
	 margin-top:30px;
	 background-color:rgb(245,245,245);
	 width:190px;
	 height:200px; 
 }
 .sar4 p{
	 line-height:10px;
 }
 .sar5{
	 margin-left:225px;
	  background-color:rgb(245,245,245);
	 width:190px;
	 height:200px; 
	 margin-top:-200px;
 }
 .sar5 p{
	 line-height:10px;
 }
 .sar6{
	   background-color:rgb(245,245,245);
	 width:190px;
	 height:200px; 
	 margin-top:-200px;
	 margin-left:450px;
 }
 .sar6 p{
	 line-height:10px;
 }
 .listeAm{
	 background-color:white;
	 width:1000px;
	 height:250px;
	 
 }
 .listeAm li{
	 line-height:30px;
	 color:rgb(139,131,134);
 }
 .listeAm1{
	 background-color:white;
	 width:300px;
	 height:150px;
 }
 .listeAm2{
	 background-color:white;
	 width:300px;
	 margin-left:350px;
	 margin-top:-166px;
	 height:150px;
 }
 .listeAm3{
	 background-color:white;
	 width:300px;
	 margin-left:700px;
	 margin-top:-166px;
	 height:150px;
	 }
 footer{
	margin-top:320px;
	background-color:black;
	width:1000px;
	height:80px;
	color:white;
	position:absolute;
}

.jas{
	margin-top:20px;
}
.we{
	margin-top:-15px;
}